.container-fluid, .row, .col-sm-10 {
    
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
}

#btn{
    background: #fea;
    padding: 15px;
    font-family: arial;   
}

#toggleWireframe{
    background: #fea;
    padding: 15px;
    font-family: arial;   
}

#Rotate{
    background: #fea;
    padding: 15px;
    font-family: arial;   
}

#switchModel{
    background: #fea;
    padding: 15px;
    font-family: arial;   
}

#playSecondModelAnimation{
    background: #fea;
    padding: 15px;
    font-family: arial;   
}

#threeContainer {
    width: 100%;
    height: 100vh; position: relative;
    display: block;
    overflow: hidden;

}